version: '3'

services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - '3333:3333'
    volumes:
      - .:/usr/src/app
    environment:
      - NODE_ENV=development
      - PORT=3333
      - DATABASE_URL=postgresql://postgres:password@db:5432/db
      - BETTER_AUTH_URL=http://localhost:3000
      - BETTER_AUTH_SECRET=secret
      - REDIS_URL=redis://redis:6379
      - KAFKA_BROKERS=kafka:9093
      - FALLBACK_LANGUAGE=en
    networks:
      - backend-challenge-network
    depends_on:
      - db
      - redis

  # Postgres Database
  db:
    image: postgres:17.5-alpine3.21
    container_name: db
    attach: false
    ports:
      - '5432:5432'
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=db
    networks:
      - backend-challenge-network

  redis:
    image: redis/redis-stack
    container_name: redis
    ports:
      - '6380:6379'
    networks:
      - backend-challenge-network
    restart: always
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
    command: ['/entrypoint.sh', '/usr/local/etc/redis/redis.conf']
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 3s
      retries: 5
      start_period: 20s

  kafka:
    image: redpandadata/redpanda:v23.2.25
    container_name: kafka
    ports:
      - '9092:9092'
      - '9644:9644' # Admin API
    networks:
      - backend-challenge-network
    deploy:
      resources:
        limits:
          memory: 1G
    command:
      - redpanda
      - start
      - --kafka-addr internal://0.0.0.0:9093,external://0.0.0.0:9092
      - --advertise-kafka-addr internal://kafka:9093,external://localhost:9092
      - --pandaproxy-addr internal://0.0.0.0:8082,external://0.0.0.0:8083
      - --advertise-pandaproxy-addr internal://kafka:8082,external://localhost:8083
      - --schema-registry-addr internal://0.0.0.0:8081,external://0.0.0.0:8084
      - --rpc-addr kafka:33145
      - --advertise-rpc-addr kafka:33145
      - --smp 1
      - --memory 1G
      - --mode dev-container
      - --default-log-level=info
    healthcheck:
      test:
        ['CMD-SHELL', "rpk cluster health | grep -E 'Healthy:.+true' || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s

  # # RabbitMQ
  # rabbitmq:
  #   image: rabbitmq:3.13-management-alpine
  #   container_name: rabbitmq
  #   attach: false
  #   restart: always
  #   ports:
  #     - '5672:5672'
  #     - '15672:15672'
  #   environment:
  #     RABBITMQ_DEFAULT_USER: admin
  #     RABBITMQ_DEFAULT_PASS: admin
  #   volumes: ['rabbitmq_data:/var/lib/rabbitmq']
  #   healthcheck:
  #     test: ['CMD', 'nc', '-z', 'localhost', '5672']
  #     interval: 10s
  #     timeout: 15s
  #     retries: 10

volumes:
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local

networks:
  backend-challenge-network:
    driver: bridge
